
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h5 class="text-danger">You do not have permission to view this resources.</h5>
    <img src="~/Image/NoAccess.png" style="height:450px; width:450px;" />
</div>

