@model Workforce.Models.ForgotPassword
@{
    ViewBag.Title = "Forgotpassword";
    Layout = "~/Views/_Layout.cshtml";
}
<body class="pb-0">
<div class="wrapper-page">
    <div class="account-pages">
        <div class="account-box">
            <div class="account-logo-box bg-primary p-4">
                <h3 class="m-0 text-center text-white">Forgot Password</h3>
            </div>
            <div class="account-content">
                @ViewBag.Success
                @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { }))
                {
                    @Html.ValidationSummary(true, "", new { calss = "text-danger" })

                    <div class="form-group  mb-4 row">
                        <div class="col-12">
                            <label for="emailaddress">Please Enter your Register Email Address :</label>
                            @Html.TextBoxFor(i => i.Email, new { @class = "form-control form-control-sm", placeholder = "Email", id = "textname" })
                            @Html.ValidationMessageFor(i => i.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="form-group row text-center m-t-10">
                        <div class="col-12">
                            <input type="submit" class="btn btn-md btn-block btn-dark waves-effect waves-light" value="Reset" />
                        </div>
                    </div>

                }
                                

            </div>
        </div>
    </div>
    <!-- end account-box-->

</div>
</body>


