
@{
    ViewBag.Title = "ForgotPasswordMassage";
    Layout = "~/Views/_Layout.cshtml";
}

<br />
<br />
<br />
<br />

<h4 align="center"> we have sent you password Reset link on your register Email address please use that link to reset new password</h4>